body{
	background-color:white;
	
	}
.container{
	background-color: black;
	width: 200px;
	height: 400px;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: border-box;
	border-radius: 10px;

}
.red{
	background-color: red;
	margin:0 auto;
	padding: 5px;
	width: 90px;
	margin-bottom: 10px;
	height: 90px;
	border-radius: 60px;
}
.orange{
	background-color: orange;
	margin:0 auto;
	padding: 5px;
	width: 90px;
	margin-bottom: 10px;
	height: 90px;
	border-radius: 60px;
}
.green{
	background-color: green;
	margin:0 auto;
	padding: 5px;
	width: 90px;
	height: 90px;
	border-radius: 60px;
}
.container4{
	background-color: black;
	width: 50px;
	height: 200px;
	margin: 0 auto;

}

.off{
	background-color: #ccc;
}

